[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
pystan = "*"
fbprophet = "*"
Flask = "*"
DateTime = "*"
holidays = "==0.9.12"
pymongo = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
